* {
    box-sizing: border-box;
}

main {
    min-height: 100%;
    margin-bottom: -100px;
}


.navbar-brand {
    font-size: 45px

}

.background {
    background-image: url(./background01.jpg);
    background-size: cover;
  }
  
  p{
    display: block;
    width: 70%;
    margin-left: 10%;
    padding-top: 5%;
    color: #ffffff;
    font-size: 18px;

  }

  .card {
      float: left;
     margin: 15px;
  }